.container {
    display: grid ;
    grid-template-rows: 5vh 10vh 20vh 15vh 50vh 10vh;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "header header"
    "sec0 sec0"
    "sec1 sec1"
    "sec2 sec2"
    "sec3 sec3"
    "sec4 sec4";
    height:80vh ;
    
}

a{
    text-decoration: none;
    color: antiquewhite;
}




section.sec0 {
    grid-area:sec0;
    text-align: center;
    color:#172EFF;
    font-family: "Lucida Console"
    
}

li{
    margin-bottom: 25px; 
}

section.sec1 {
    grid-area:sec1;
    text-align: center;
    color: #172EFF;
}

img:hover {
    filter: grayscale(50%);
    transition: 0.3s ease-in-out;
}

img{
    width: 135px;
    height: 135px;
    border-radius: 20px; 

}

section.sec2 {
    grid-area: sec2;
    text-align: center;
    color: #172EFF;
    font-size: 1.25rem;
    
}




section.sec3 {
    grid-area: sec3;   
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    gap: 2vh;
    
}





body,ul{
    margin: 0;
}

.menu{
    height: 100vh;
    width: 80vw;
    background: #000a62 ;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0;
}


    

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}


@media screen and (min-width: 700px){
    
    img{
        width: 250px;
        height: 250px;
        border-radius: 30px; 
    }
        .container {
            display: grid ;
            grid-template-rows: 5vh 10vh 15vh 15vh 20vh ;
            grid-template-columns: 50% 50%;
            grid-template-areas: 
            "header header"
            "sec0 sec0"
            "sec1 sec1"
            "sec2 sec2"
            "sec3 sec3"
            "sec4 sec4";
            height:80vh ;
            
        }    
    }
    